In [61]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Table, Column, CHAR, Date, String, Integer, Float, DateTime, ForeignKeyConstraint
from sqlalchemy import insert

import pandas as pd
from IPython.display import display

In [62]:
# CONNECTING TO MYSQL -> DATABASE
connectionString = 'mysql+pymysql://@localhost/crystaldb2'
engine = create_engine(connectionString)
connection = engine.connect()
metadata = MetaData()

In [63]:
# EXCTRACTING STRUCTURE OF THE TABLES
material = Table('material', metadata, autoload=True, autoload_with=engine)
solvent = Table('solvent', metadata, autoload=True, autoload_with=engine)

In [64]:
# # AUTOINCREMENT?
# stmt = insert(material)
# values_list = material_csv.to_dict(orient='records')
# materialID = list([None]*material_csv.shape[0])
# material_csv.insert(loc = 0, column = 'materialID', value = materialID)
# display(material_csv)

In [65]:
###################
# MATERIAL TABLE
###################

In [66]:
material_csv = pd.read_csv(filepath_or_buffer = "material2.csv", sep = ";")
print(material_csv.shape)
display(solvent_csv.head())

(152, 7)

,solventName,chemicalFormula,canonicalSmile,casNumber,productNumber,supplier
0,Acetonitrile,C2H3N,CC#N,75-05-8,271004,Aldrich
1,Acetone,CH3COCH3,CC(=O)C,67-64-1,439126,Aldrich
2,Anisole,C7H8O,COC1=CC=CC=C1,100-66-3,96109,Aldrich
3,Dichloromethane,CH2Cl2,C(Cl)Cl,75-09-2,270997,Aldrich
4,Benzene,C6H6,C1=CC=CC=C1,71-43-2,401765,Aldrich

In [67]:
for i in material_csv.columns:
    print(i, max(material_csv[i].apply(lambda x: len(str(x)))))

compoundName 47
chemicalFormula 12
canonicalSmile 208
type 14
casNumber 11
productNumber 11
supplier 13

In [68]:
stmt = insert(material)

values_list = []
total_rowcount = 0
import csv
with open('material2.csv', 'r') as csvfile:
    material_reader = csv.reader(csvfile, delimiter = ";")
    next(material_reader, None)  # SKIP THE HEADER

    # LOOP ON EACH ROW
    for row in material_reader: # WITHOUT COLUMN NAMES
        data = {'compoundName': row[0], 
                'chemicalFormula': row[1], 
                'canonicalSmile': row[2], 
                'type': row[3], 
                'casNumber': row[4], 
                'productNumber': row[5], 
                 'supplier': row[6]}
        values_list.append(data)

# INSERT data INTO DATABASE
results = connection.execute(stmt, values_list)
del(stmt, values_list, total_rowcount)
# TOTAL ROWCOUNTs
print("Inserted rows: ", results.rowcount)

Inserted rows:  152

In [69]:
# # DELETE ALL ROWS
# result = connection.execute("DELETE FROM material")
# print("Deleted rows:", result.rowcount)
# connection.execute("ALTER TABLE `material` AUTO_INCREMENT = 1;") # AUTO_INCREMENT WILL START FROM 1

In [70]:
###################
# SOLVENT TABLE
###################

In [71]:
solvent_csv = pd.read_csv(filepath_or_buffer = "solvent.csv", sep = ";")
print(solvent_csv.shape)
display(solvent_csv.head())

(37, 6)

,solventName,chemicalFormula,canonicalSmile,casNumber,productNumber,supplier
0,Acetonitrile,C2H3N,CC#N,75-05-8,271004,Aldrich
1,Acetone,CH3COCH3,CC(=O)C,67-64-1,439126,Aldrich
2,Anisole,C7H8O,COC1=CC=CC=C1,100-66-3,96109,Aldrich
3,Dichloromethane,CH2Cl2,C(Cl)Cl,75-09-2,270997,Aldrich
4,Benzene,C6H6,C1=CC=CC=C1,71-43-2,401765,Aldrich

In [72]:
for i in solvent_csv.columns:
    print(i, max(solvent_csv[i].apply(lambda x: len(str(x)))))

solventName 25
chemicalFormula 8
canonicalSmile 30
casNumber 9
productNumber 6
supplier 7

In [73]:
stmt = insert(solvent)

values_list = []
total_rowcount = 0
import csv
with open('solvent.csv', 'r') as csvfile:
    solvent_reader = csv.reader(csvfile, delimiter = ";")
    next(solvent_reader, None)  # SKIP THE HEADER

    # LOOP ON EACH ROW
    for row in solvent_reader: # WITHOUT COLUMN NAMES
        data = {'solventName': row[0], 
                'chemicalFormula': row[1], 
                'canonicalSmile': row[2],
                'casNumber': row[3], 
                'productNumber': row[4], 
                 'supplier': row[5]}
        values_list.append(data)

# INSERT data INTO DATABASE
results = connection.execute(stmt, values_list)
del(stmt, values_list, total_rowcount)
# TOTAL ROWCOUNTs
print("Inserted rows: ", results.rowcount)

Inserted rows:  37

In [74]:
# # DELETE ALL ROWS
# result = connection.execute("DELETE FROM solvent")
# print("Deleted rows:", result.rowcount)
# connection.execute("ALTER TABLE `solvent` AUTO_INCREMENT = 1;") # AUTO_INCREMENT WILL START FROM 1